<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

    <!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<html>

<body >



</body>
</html><link href='http://pensionersportal.gov.in/css/small.css' rel='stylesheet' type='text/css' />

    <link href="http://pensionersportal.gov.in/css/common.css" rel="stylesheet" type="text/css" />

    <link href="http://pensionersportal.gov.in/css/template.css" rel="stylesheet" type="text/css" />

    <script language="javascript" type="text/javascript">
        function SetTextSize(size) {
            document.f_textsize.textSize.value = size;
            document.f_textsize.submit();
            return true;
        }
    </script>



<body>



    <div align="center">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td height="60" colspan="2" align="left">
                    <img border="0" src="image/pens.jpg" height="101" width="100%" alt="Pensioners' Portal, Government of India" /></td>



<head>

<TITLE>Dearness Relief (DR) Calculator - Pensioners Portal</TITLE>
<meta name="description" content="Dearness Relief (DR) Calculator for Pensioners. " />
<meta name="keywords" content="Calculator, Dearness Relief , DR, Pension "/>
<meta name="Keyphrases" content="Dearness Relief Calculator , DR Calculator, Pension Calculator"/>
<meta name="SearchTitle" content="Dearness Relief Calculator , DR Calculator, Pension Calculator" />



<script language="javascript" src="http://pensionersportal.gov.in/PensionCalculators/Calculator_DR/calculator_DR.js" type="text/javascript">
</script>

<script language="javascript"  type="text/javascript">
<!--
var MonthName = ['January','February','March','April','May','June','July','August','September','October','November','December'];

//var mydate= new Date();



var CurrentYear=2018; //mydate.getFullYear();
var CurrentMonth=9; //mydate.getMonth()+1;
var CurrentDay=21; //mydate.getDate();


var LastDayOfMonth =30; //(new Date(  (new Date(CurrentYear, CurrentMonth,1)) -1)).getDate();


//alert(themonth);
///////////////////////////////////////////////////////
//  DR Calculation
///////////////////////////////////////////////////////
function Calculate_onclick() {

	formObj = document.form1;


	formObj.dr_percentage_textbox.value = '';
	formObj.dr_amount_textbox.value = '';
	formObj.gross_pension_textbox.value = '';


	var Month = parseInt(formObj.bmonth.value);
	var Year = parseInt(formObj.byear.value);

	var basic_pension = trim(formObj.BP.value);  //Basic Pension/family pension
	var commuted_pension = trim(formObj.CP.value);  //Amount of Pension Commuted

	if (basic_pension=='')
	{
		formObj.BP.value='';
		alert("Please Enter  Basic Pension/Family Pension.");
		formObj.BP.select();
		return false;
	}

  	if (!isNumeric(basic_pension))
  	{
  		formObj.BP.value='';
		alert("Error : Invalid Basic Pension/Family Pension.");
		formObj.BP.select();
		return false;
	}
	else
		basic_pension=parseInt(basic_pension);


	if (commuted_pension=='')
		commuted_pension=0

  	if (!isNumeric(commuted_pension))
  	{
  		formObj.CP.value='';
		alert("Error : Invalid Amount of Pension Commuted.");
		formObj.CP.select();
		return false;
	}
	else
		commuted_pension=parseInt(commuted_pension);

/*
	if (Month == 0)
	{
		alert("Please Select Month.");
		formObj.bmonth.focus();
		return false;
	}
*/

	if (basic_pension == 0)
	{
		formObj.BP.value='';
		alert("Please Enter  Basic Pension/Family Pension.");
		formObj.BP.select();
		return false;
	}
	else
		{
			if ((basic_pension < 9000)  || (basic_pension > 125000))
				{
					alert("Error : Basic Pension/Family Pension must be between 9000 to 125000.");
					formObj.BP.select();
					return false;
				}
		}


	//Calculation of Commuted Value
	var max_commuted_pension =  parseInt(0.4 * basic_pension) ;

//	var max_commuted_pension =  (0.4 * basic_pension) ;

//	var commuted_value_temp = parseInt(max_commuted_pension);
//	if (commuted_value_temp < parseFloat(max_commuted_pension))
//			max_commuted_pension = (commuted_value_temp + 1);

	if  (commuted_pension > max_commuted_pension)
		{
			alert("Error : Amount of Pension Commuted must be less than or equal to 40% of the Basic Pension");
			formObj.CP.select();
			return false;
		}

/*
	if (Year<=CurrentYear)
		{
		if (Month>=CurrentMonth)
				if (LastDayOfMonth != CurrentDay)
				{
					alert("Sorry... DR for the selected month not updated .");
					formObj.bmonth.focus();
					return false;
				}


		}
	else
			{
				alert("Sorry... DR for the selected period not updated .");
				formObj.bmonth.focus();
				return false;
			}

*/

// Calculation of DR
	var dr_rate = GetDR(Year,Month);
	if (dr_rate == 'NA' )
		{
			alert("Sorry... DR for the selected month and year not updated .");
			formObj.bmonth.focus();
			return false;
		}
	formObj.dr_percentage_textbox.value = dr_rate;
	formObj.dr_amount_textbox.value = Math.ceil((basic_pension * dr_rate)/100);
	formObj.gross_pension_textbox.value = basic_pension  + parseInt(formObj.dr_amount_textbox.value) - commuted_pension;




}
//-->
</script>

	<body >

		<table border=0 width=100%>
			     <tr><td    height="21" class=PageHeading align=center >Dearness
					Relief (DR) Calculator </TD></TR>
			     <tr> <td>  <hr/>  </td> </tr>
		</table>

	<form id=form1 name=form1  >
	  <fieldset>
		<legend  class="group_form">Input</legend>
			<TABLE id="Table1"  width="100%" border="0" align=center cellspacing=10 >

				<TR>
					<TD style="text-align:right;"  width="55%"><span class="CompulsoryField ">* </span><label for="bmonth" title="Select Month and Year" >Month and	Year</label></TD>
					<td>
                    <select name="bmonth" id="bmonth"   tabindex=1 title="Month">
                      <option value="1">January</option>   <option value="2">Febuary</option>  <option value="3">March</option>    <option value="4">April</option>
                      <option value="5">May</option>    <option value="6">June</option>              <option value="7">July</option>    <option value="8">		August</option>
                      <option value="9">September</option>    <option value="10">			October</option>        <option value="11">November</option>  <option value="12">		December</option>
                    </select>

                    <select name="byear" id="byear"  tabindex=2 title="Year">

	                      		<option value=2016 >2016</option>

	                      		<option value=2017 >2017</option>

	                      		<option value=2018 >2018</option>

					</select>
					</td>
				</TR>

				<TR >
					<TD  style="text-align:right;" ><span class="CompulsoryField ">* </span><label for="BP" >Basic
					Pension/Family Pension before Commutation</label> </TD><TD><input  id="BP" name="BP" title="Enter Basic Pension/Family Pension before Commutation" size=8 maxlength=5 tabindex=3  value='' onkeypress="return CheckNumeric()" />&nbsp;</TD>
				</TR>

				<TR >
					<TD  style="text-align:right;"><label for="CP">Amount of Pension Commuted (if any/applicable)</label></TD>
					<TD><input  id="CP" name="CP" title="Enter Amount of Pension Commuted (if any/applicable)" size=8 maxlength=5 tabindex=3  value='' onkeypress="return CheckNumeric()" />&nbsp;</TD>
				</TR>


				<TR>
					<TD style="text-align:center;" colspan=2> <INPUT id="Calculate" type="button" value="Get Dearness Relief (DR)" title="Click this button to Get the Dearness Relief rate in percentage &amp; amount and Gross Pension/Family Pension." language ="javascript"
							 onclick="return Calculate_onclick()" class=BlueButton tabIndex=4 /></TD>

				</TR>

				</table>
			</fieldset>

			<fieldset>
				<legend class="group_form">Output</legend>

				<table width="95%" border="0" align=center cellspacing=10>
				<TR>
					<TD style="FONT-WEIGHT: bold;  text-align:right;" width=50% >
					<label for="dr_percentage_textbox" title="Output : Dearness  Relief in percentage for Select Month &amp; Year">DR (%)</label> 	</TD>
					<TD>
					<input id="dr_percentage_textbox" class="OutputBox"   readOnly tabIndex=5 size=10 /></TD>
				</TR>
				<TR>
					<TD style="FONT-WEIGHT: bold;  text-align:right;" >
					<label for="dr_amount_textbox" title="Output : Dearness  Relief in Rupees for the Basic Pension/Family Pension for the selected Month &amp; Year">DR Amount</label> </TD>
					<TD>
					<input id="dr_amount_textbox" class="OutputBox"      readOnly tabIndex=6 size=10 /></TD>
				</TR>
				<TR>
					<TD style="FONT-WEIGHT: bold;  text-align:right;" >
					<label for="gross_pension_textbox"  title="Output : Gross Pension/Family Pension">Gross Pension/Family Pension</label></TD>
					<TD>
					<input id="gross_pension_textbox" class="OutputBox"      readOnly tabIndex=7 size=10 /></TD>
				</TR>

			</TABLE>

			</fieldset>

			</form>
			<div style="text-align:right;">
			<span class="CompulsoryField ">* </span> Compulsory Fields<br/>
			<span class="Red">All the figures are 	indicative.</span><br/><br/>
			</div>
			<table width="100%" border="0" align=center cellpadding=5 style="border-collapse: collapse">
				<tr><td colspan=2 class=RedXLarge bgcolor="#DDDDDD">Note</td></tr>

				<tr><td>&nbsp;</td><td>
				DR is normally declared twice a year during the months of March &amp; September. So in the months of January &amp; February,  DR on Pension/Family Pension will be calculated according  to  the DR Rates available for the month of December of the previous year. Similarly, for the month of July &amp; August, DR will be calculated w.r.t. DR rates available for the month of June.
				</td></tr>
				<tr><td>&nbsp;</td><td>
				As regards arrears of DR for the months of January &amp; February and July &amp; August, the same shall be disbursed by the disbursing authorities normally in the month of  April &amp; October respectively.
				</td></tr>


<!--				<tr><td ><font size=4 color=red>*</font></td><td> Compulsory Fields.</td></tr>-->

			</table>







<br/><br/>


</table>
</body>



</HTML>

<script language=javascript  type="text/javascript">

//=====================   Setting the Selected Value in Month & Year DDL =====================
formObj = document.form1;

if (LastDayOfMonth == CurrentDay)
	formObj.bmonth.value=CurrentMonth;
else
	formObj.bmonth.value=CurrentMonth-1;

formObj.byear.value=CurrentYear;
//=========================================================================

// Displaying the Client Computer Date
//formObj.sdate.value=CurrentDay +  GetPrefix(CurrentDay) + ' ' + MonthName[CurrentMonth-1] +  ' '  + CurrentYear

//===========================  	Get Prefix  =============================================
/*
function GetPrefix(currentday)
{
	if ((currentday==1)||(currentday==21)||(currentday==31) )
		return 'st'
	else
		if ((currentday==2)||(currentday==22) )
			return 'nd'
		else
			if ((currentday==3)||(currentday==23) )
				return 'rd'
			else
				return 'th'
}

*/

</script>
