<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat Assistant</title>
    <link rel="stylesheet" href="/Dashboard/Forum/chats.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body background="/Dashboard/Forum/chatwall3.jpg">

    <div class="head" style="background-color:#2e0049">
      <br>
        <h1 style=" font-family: sans-serif;margin-left: 20px;color: white;">Chat</h1>
<br>
    </div>

    <div class="chat_space">
      <div class="container">
 <img src="/Dashboard/Forum//w3images/bandmember.jpg" alt="Avatar">
 <p>Hello. How are you today?</p>
 <span class="time-right">11:00</span>
</div>

<div class="container darker">
 <img src="/Dashboard/Forum//w3images/avatar_g2.jpg" alt="Avatar" class="right">
 <p>Hey! I'm fine. Thanks for asking!</p>
 <span class="time-left">11:01</span>
</div>

<div class="container">
 <img src="/Dashboard/Forum//w3images/bandmember.jpg" alt="Avatar">
 <p>Sweet! So, what do you wanna do today?</p>
 <span class="time-right">11:02</span>
</div>

<div class="container darker">
 <img src="/Dashboard/Forum//w3images/avatar_g2.jpg" alt="Avatar" class="right">
 <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
 <span class="time-left">11:05</span>
</div>

    </div>
    <div class="reply_space">
      <input placeholder="Type a message" style=" font-size: 20px;height: 35px;width: 550px;"type="text" name="" value="">
      <button class="w3-button w3-xlarge w3-circle w3-teal">Send</button>
    </div>
    <center><a href="/Dashboard/Forum/forum_home.html"><h3 style="color: white;">Back to Forums Page</h3></a> </center>

  </body>
</html>
