<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Dashboard/Forum/forum_style.css">

      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Forum Home Page</title>
  </head>
  <body background="/Dashboard/Forum/forum.jpg">
  <a style="padding-left: 30px;padding-top: 30px;" href="/Dashboard/Forum/forum_ask.html"><button style=" padding-right: 30px;padding-bottom: 20px;padding-left: 30px;padding-top: 20px;heigth: 100px; width: 160px; color : white; background-color : #0d71e2;" type="button" name="button">Ask a Question</button></a>
<br>
  <select style="margin-top:20px" onchange="location = this.value;" >
  <option >Quick Access</option>
  <option value="/Dashboard/Forum/forum_ask.html">Compose Question</option>
  <option value="#">Forum Home</a></option>
  <option value="/Dashboard/Forum/chatassis.html"><a href="">Chat Assistant</option>
  <option value="/Dashboard/Forum/index.html">Frequently Asked Questions</option>
</select>
<div class="pref">
  Filter:
  <select >

  <option value="author">Author</option>
  <option value="Answered">Answered</option>
  <option value="UnAnswered">UnAnswered</option>
  </select>
  Sort:
  <select  >

  <option value="Votes">Votes</option>
  <option value="recent">Most Recent</option>
  <option value="replies">Total Replies</option>
  </select>
</div>

<div  id="wrapper">
  <div id="topusers">
    <table width="300px" height="400px">
      <tr>
        <th ><h3 style=" color:#40506b;fonttext-align:center;">Top Contributors</h3>  </th>
      </tr>
      <tr>
         <td>BLANK</td>
      </tr>
      <tr>
          <td>BLANK</td>
      </tr>
      <tr>
        <td>BLANK</td>
      </tr>
      <tr>
        <td>BLANK</td>
      </tr>

        <tr>
          <td>BLANK</td>
        </tr>

    </table>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>
  <div id="threads">
    <!-- <br>  Contents will go in here , Will contain Thread conetents obtained form the database -->


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- <div class="rtext">

    <h3>Reply: <input class="reply" type="text" name="" value=""></h3>
    </div> -->
    <div class="reply_space">
      <input placeholder="Type a reply" style=" font-size: 20px;height: 35px;width: 550px;"type="text" name="" value="">
      <button class="w3-button w3-xmedium w3-circle w3-black">Reply</button>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

</div>


  </body>
</html>
