<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/Dashboard/Forum/forum_style.css">
    <meta charset="utf-8">
    <title>ASK PAGE</title>
  </head>
  <body background="/Dashboard/Forum/forum.jpg">
<form class="has" action="/Dashboard/Forum/forum_home.html" method="post">
  <br>
<div class="wel" style="font-family: sans-serif; ">
  <h3>You are asking your first question!</h3>

     <h3>How to quickly get a good answer:</h3>

         <h4>1.Keep your question short and to the point </h4>
         <h4>2.Check for grammar or spelling errors</h4>
         <h4>3.Phrase it like a question</h4>
         <h4>4.Make sure it hasn't been asked before</h4>
</div>

<div class="questionc">
  <br>
  <h1 style="color : white; font-family: sans-serif; " align="center">Whats On Your Mind?</h1>
  <input class="questionin" type="text" name="" value="" placeholder="Start your question with 'What','How','Why',etc.">
  <button  style=" color: white;font-size: 20px;margin-top: 0px;margin-bottom: 50px;margin-left: 840px;height: 40px;background-color:#aa0f06;"type="submit" name="button">Add Question</button>
</div>
<br>
<br>
<center><a href="forum_home.html"><h3>Back to Forums Page</h3></a> </center>

<br>
<br>
<br>
<br>

</form>

  </body>
</html>
