<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/Dashboard/Forum/styling.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>FAQ Page</title>
  </head>
  <body>

    <form class="faq" action="index.html" method="post">
      <h1 class="class1">Frequently Asked Questions</h1>
      <br>
      <br>
    </form>
    <div class="quests">
      <button type="button" style="border: none;" class= "linux"  onclick="myFunction1()"><img  style="heigth:30px; width: 30px;"class="but" src="plus.jpg" alt="error">
Pension Policy
  </button>
    <div id="content1"><ul>

  <li><a href="#"><h4> Which  rules  govern  pension  and  gratuity  to  the  employees retiring  from  Central Government Civil Departments?</h4></a></li>
  <li><a href="#"><h4> Is the date of voluntary retirement treated as duty?</h4>  </a></li>
  <li><a href="#"><h4> Who is eligible for pension?</h4>  </a></li>
  <li><a href="#"><h4> How is pension calculated?</h4> </a></li>
  <li>  <a href="#"><h4> When can a Government servant apply for a voluntary retirement?</h4></a></li>

        </ul>
    </div>
    </div>
    <div  class="quests">
    <button type="button" style="border: none;" class= "windows" onclick="myFunction2()" ><img  style="heigth:30px; width: 30px;"class="but" src="plus.jpg" alt="error">
National Pension System(NPS)
</button>
<div id="content2"><ul>
<li><a href="#"><h4> What are the guidelines/orders in regard to settlement of dues of the deceased Government employees covered under NPS? </h4> </a></li>
<li><a href="#"><h4> The  CCS(P)  Rules  are  applicable  to  govt.servants  appointed  on  or before 31.12.2003. Are   the   employees   who   joined pensionable establishments of  Govt.  of India  after 31/12/2003  eligible  for any benefits under these rules?</h4></a></li>

</ul>

</div>
</div>


<div  class="quests">
<button type="button" style="border: none;" class= "" onclick="myFunction3()" ><img  style="heigth:30px; width: 30px;"class="but" src="plus.jpg" alt="error">
Qualifying Service
</button>
<div id="content3"><ul>

  <li><a href="#"><h4> Does all leave period qualify for pension and gratuity?</h4></a></li>
<li><a href="#"> <h4> Is the benefit of counting of past service under Rule 19  available to ex-serviceman re-employed to civil service / post?</h4> </a></li>
<li><a href="#"><h4> What happens to the past service of a Govt. servant (appointed before 1.1.2004) who resigns to take up, with proper permission, another appointment under the Govt.?</h4> </a></li>
<li><a href="#"><h4> What  is  the  impact  of  resignation  (other  than  technical  resignation)  onqualifying service and pension</h4>  </a></li>

</ul>
</div>
</div>
<script>
function myFunction3() {
var x = document.getElementById("content3");
if (x.style.display === "none") {
    x.style.display = "block";
} else {
    x.style.display = "none";
}
}

function myFunction1() {
    var x = document.getElementById("content1");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction2() {
    var x = document.getElementById("content2");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
  <center><a href="forum_home.html"><h3>Click to go to Forums Page</h3></a> </center>
  </body>
</html>
