body{

  background-repeat:no-repeat;

   background-size:cover;
}
.pref{
  padding-left: 400px;
}
.wrapper{
margin-left: 300px;
margin-right: 200px;
margin-bottom: 50px;

  background-color: white;
}

/* .topusers{
margin-left: 10px;
margin-right: 250px;
margin-bottom: 50px;

  background-color: red;
}
#topusers,
#threads {
  border: 1px solid white;
  float: left;
  min-height: 450px;
  color: white;
}
#topusers {
  margin-left: 10px;
  margin-right: 250px;



} */

/* #wrapper {
  width: 1005px;
  margin: 0 auto;

} */

#topusers,
#threads {
  border: 1px solid white;
  float: left;
  min-height: 450px;
  color: white;
}

#topusers {
  width: 300px;
  margin-left: 10px;
  background-color: white;

}

#threads{
  width:1150px;
  margin-left: 10px;
  background-color: white;
}
