<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forums</title>
  </head>
  <body style=" font-family: sans-serif ;background-color:#dedede;">

      <img src="image/coverf.jpg" height="250" width="100%"alt="Error">
      <a style="padding-left: 30px;padding-top: 30px;" href="/forumask"><button style=" padding-right: 30px;padding-bottom: 20px;padding-left: 30px;padding-top: 20px;heigth: 100px; width: 160px; color : white; background-color : #0d71e2;" type="button" name="button">Ask a Question</button></a>

      <div class="forums">
        <h1 style=" margin-left: 150px;color:#4d5b70 ;font-family:sans-serif;">Forums</h1>
      </div>
      <div  class="cat"   style=" margin-left: 150px ;margin-right: 150px ;height: 400px;  background-color:white;">
        <div class="general" style="background-color:#f3f3f3">
          <h4>  <a style="color:black; " href="/generalforum"><img height="55px" width="55px" src="image/Chat.png" alt="">General Discussion</a> </h4>
        </div>
        <div class="pension" style="background-color:white">
          <h4>  <a style="color:black;" href="/defence"><img height="55px" width="55px" src="image/Chat.png" alt="">Defence Pensioners Forum</a> </h4>

        </div>
        <div class="nps" style="background-color:#f3f3f3">
          <h4>  <a style="color:black;" href="/nps"><img height="55px" width="55px" src="image/Chat.png" alt="">National Pension Scheme</a> </h4>

        </div>
        <div class="dr" style="background-color:white">
          <h4>  <a style="color:black;" href="/drforum"><img height="55px" width="55px" src="image/Chat.png" alt="">Dearness Relief</a> </h4>

        </div>
        <div class="dr" style="background-color:#f3f3f3">
          <h4>  <a style="color:black;" href="/gratuity"><img height="55px" width="55px" src="image/Chat.png" alt="">Gratuity Forum</a> </h4>

        </div>
      </div>

  </body>
</html>
